.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: red;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3 {
    padding: 10px 30px;
    border-radius: 5px;
}
.cat1{
    background-color: orange;
    
}
.cat2{
    background-color: darkorchid;
}
.cat3{
    background-color: blue;
}
.categories h1{
    color: #fff;
}
.categories img{
    width: 100px;
}
.card-wrapper{
    display: flex;
    gap: 30px;
}
.card{
    
    padding: 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.crdbtn{
    background-color: pink;
    border: none;
    border-radius: 7px;
    padding: 10px 5px;
}
.card-group{
    display: flex;
    gap: 30px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: grey;
}
footer{
    text-align: center;
}